In [68]:
import pandas as pd
# extract the file download from kaggle
import zipfile
# Download the dataset programatically from Kaggle
import kaggle

In [67]:
# Download dataset from Kaggle using Kaggle API
!kaggle datasets download -d yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring

2023-05-11 16:31:39,681 WARNING Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001E664EF5F00>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /api/v1/datasets/download/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring
2023-05-11 16:31:39,681 WARNING Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001E664EF54E0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /api/v1/datasets/download/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring
2023-05-11 16:31:39,681 WARNING Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001E664EF56C0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /api/v1/datasets/download/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring
Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connection.py", line 174, in _new_conn
    conn = connection.create_connection(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\util\connection.py", line 72, in create_connection
    for res in socket.getaddrinfo(host, port, family, socket.SOCK_STREAM):
  File "C:\Program Files\WindowsApps\PythonSoftwareFoundation.Python.3.10_3.10.3056.0_x64__qbz5n2kfra8p0\lib\socket.py", line 955, in getaddrinfo
    for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
socket.gaierror: [Errno 11001] getaddrinfo failed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 703, in urlopen
    httplib_response = self._make_request(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 386, in _make_request
    self._validate_conn(conn)
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 1042, in _validate_conn
    conn.connect()
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connection.py", line 358, in connect
    self.sock = conn = self._new_conn()
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connection.py", line 186, in _new_conn
    raise NewConnectionError(
urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPSConnection object at 0x000001E664EF43D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\Scripts\kaggle-script.py", line 33, in <module>
    sys.exit(load_entry_point('kaggle==1.5.13', 'console_scripts', 'kaggle')())
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\cli.py", line 67, in main
    out = args.func(**command_args)
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\api\kaggle_api_extended.py", line 1283, in dataset_download_cli
    self.dataset_download_files(dataset,
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\api\kaggle_api_extended.py", line 1230, in dataset_download_files
    self.datasets_download_with_http_info(owner_slug=owner_slug,
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\api\kaggle_api.py", line 1466, in datasets_download_with_http_info
    return self.api_client.call_api(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\api_client.py", line 329, in call_api
    return self.__call_api(resource_path, method,
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\api_client.py", line 161, in __call_api
    response_data = self.request(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\api_client.py", line 351, in request
    return self.rest_client.GET(url,
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\rest.py", line 247, in GET
    return self.request("GET", url,
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\kaggle\rest.py", line 220, in request
    r = self.pool_manager.request(method, url,
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\request.py", line 74, in request
    return self.request_encode_url(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\request.py", line 96, in request_encode_url
    return self.urlopen(method, url, **extra_kw)
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\poolmanager.py", line 376, in urlopen
    response = conn.urlopen(method, u.request_uri, **kw)
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 815, in urlopen
    return self.urlopen(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 815, in urlopen
    return self.urlopen(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 815, in urlopen
    return self.urlopen(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\connectionpool.py", line 787, in urlopen
    retries = retries.increment(
  File "C:\Users\Admin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\urllib3\util\retry.py", line 592, in increment
    raise MaxRetryError(_pool, url, error or ResponseError(cause))
urllib3.exceptions.MaxRetryError: HTTPSConnectionPool(host='www.kaggle.com', port=443): Max retries exceeded with url: /api/v1/datasets/download/yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001E664EF43D0>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

In [69]:
# extract the file from the downloaded zip file
zipfile_name = 'fifa-21-messy-raw-dataset-for-cleaning-exploring.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

PermissionError: [Errno 13] Permission denied: 'd:\\Project\\FIFA 21 Players\\fifa21 raw data v2.csv'

In [94]:
# read in the CSV file
fifa21_df = pd.read_csv('fifa21_raw_data.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_1096\162195674.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa21_df = pd.read_csv('fifa21_raw_data.csv')

In [71]:
# Explore the data
fifa21_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

In [72]:
fifa21_df.shape

(18979, 77)

In [73]:
fifa21_df.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [74]:
#Do the height and weight columns have the appropriate data types?
fifa21_df.dtypes[['Height', 'Weight']]

Height    object
Weight    object
dtype: object

In [75]:
# Convert height from feet and inches to centimeters and handle errors
def height_to_cm(height_str):
    if not isinstance(height_str,str):
        return None # return None for non-string values
    height_str = height_str[:-1]
    try:
        feet,inches = height_str.split("'")
        total_inches = int(feet)*12 + int(inches)
        height_cm = total_inches * 2.54
        return round(height_cm,0)
    except(ValueError,TypeError):
        return None # Return None for invalid or missing values 

fifa21_df['Height'] = fifa21_df['Height'].apply(height_to_cm)
fifa21_df['Height'].head()

0    170.0
1    188.0
2    188.0
3    180.0
4    175.0
Name: Height, dtype: float64

In [76]:
# convert weight from lbt to kg
def weight_to_kg(weight_str):
    if not isinstance(weight_str, str):
        return None
    weight_str = weight_str[:-3]
    try:
        weight_kg = int(weight_str) * 0.45359237
        return round(weight_kg,0)
    except(ValueError, TypeError):
        return None 
fifa21_df['Weight'] = fifa21_df['Weight'].apply(weight_to_kg)
fifa21_df['Weight'].head()

0    72.0
1    83.0
2    87.0
3    70.0
4    68.0
Name: Weight, dtype: float64

In [77]:
# Rename Height and Weight column
fifa21_df.rename(columns = {'Height':'Height (cm)', 'Weight': 'Weight (kg)'},inplace=True)

In [78]:
fifa21_df[['Height (cm)', 'Weight (kg)']]

       Height (cm)  Weight (kg)
0            170.0         72.0
1            188.0         83.0
2            188.0         87.0
3            180.0         70.0
4            175.0         68.0
...            ...          ...
18974        178.0         70.0
18975        170.0         58.0
18976        178.0         66.0
18977        175.0         65.0
18978        175.0         68.0

[18979 rows x 2 columns]

In [79]:
# Separate the joined column into year, month and days columns?
fifa21_df[['Month_Joined', 'Day_Joined', 'Year_Joined']]=fifa21_df['Joined'].str.split(' ', expand= True)
fifa21_df['Day_Joined'] = fifa21_df['Day_Joined'].str.replace(',', "").astype(int)
fifa21_df['Year_Joined']=fifa21_df['Year_Joined'].astype(int)
fifa21_df['Month_Joined']= pd.to_datetime(fifa21_df['Month_Joined'], format='%b').dt.month

In [80]:
fifa21_df[['Month_Joined', 'Day_Joined', 'Year_Joined']]

       Month_Joined  Day_Joined  Year_Joined
0                 7           1         2004
1                 7          10         2018
2                 7          16         2014
3                 8          30         2015
4                 8           3         2017
...             ...         ...          ...
18974             8           1         2020
18975             8           1         2020
18976             7          13         2018
18977             8           1         2020
18978             1           1         2020

[18979 rows x 3 columns]

In [63]:
# Clean and transform the value, wage and release clause columns into columns of integers
fifa21_df[['Value', 'Wage', 'Release Clause']]

        Value   Wage Release Clause
0      €67.5M  €560K        €138.4M
1        €46M  €220K         €75.9M
2        €75M  €125K        €159.4M
3        €87M  €370K          €161M
4        €90M  €270K        €166.5M
...       ...    ...            ...
18974    €35K    €1K           €57K
18975    €60K   €500          €165K
18976    €40K    €1K           €70K
18977    €60K   €500          €165K
18978    €60K   €500          €167K

[18979 rows x 3 columns]

In [84]:
fifa21_df['Value'].unique()

array(['€67.5M', '€46M', '€75M', '€87M', '€90M', '€80M', '€105.5M',
       '€62.5M', '€78M', '€75.5M', '€69.5M', '€59.5M', '€56M', '€29M',
       '€53M', '€24.5M', '€51M', '€65M', '€71M', '€53.5M', '€72.5M',
       '€50M', '€58M', '€55M', '€16M', '€60M', '€63M', '€54.5M', '€52M',
       '€52.5M', '€50.5M', '€27M', '€48.5M', '€38M', '€45M', '€34M',
       '€39M', '€31.5M', '€15.5M', '€28M', '€46.5M', '€42M', '€32M',
       '€36.5M', '€33M', '€28.5M', '€22.5M', '€21M', '€34.5M', '€57M',
       '€49.5M', '€44.5M', '€44M', '€41.5M', '€49M', '€51.5M', '€39.5M',
       '€47.5M', '€37.5M', '€40.5M', '€33.5M', '€37M', '€30.5M', '€26M',
       '€18M', '€14.5M', '€35.5M', '€24M', '€11.5M', '€41M', '€42.5M',
       '€30M', '€36M', '€31M', '€27.5M', '€35M', '€38.5M', '€23M', '€25M',
       '€29.5M', '€25.5M', '€32.5M', '€19M', '€19.5M', '€23.5M', '€15M',
       '€17M', '€11M', '€9.5M', '€22M', '€16.5M', '€18.5M', '€17.5M',
       '€21.5M', '€20.5M', '€13.5M', '€20M', '€12M', '€12.5M', '€7M',
       '€26.5M', '€14M', '€8M', '€2.2M', '€0', '€10.5M', '€13M', '€8.5M',
       '€4.8M', '€6.5M', '€3.6M', '€5.5M', '€9M', '€3M', '€5M', '€4.5M',
       '€10M', '€4M', '€7.5M', '€4.7M', '€6M', '€4.4M', '€1.3M', '€2.7M',
       '€4.2M', '€2.1M', '€3.1M', '€4.9M', '€3.7M', '€4.3M', '€1.7M',
       '€1.5M', '€3.3M', '€3.9M', '€1.9M', '€2.4M', '€900K', '€3.4M',
       '€4.1M', '€1.6M', '€775K', '€2.6M', '€3.5M', '€2.9M', '€3.2M',
       '€1.2M', '€1.8M', '€2.3M', '€1.1M', '€675K', '€2.5M', '€1.4M',
       '€4.6M', '€2M', '€575K', '€950K', '€1M', '€3.8M', '€2.8M', '€400K',
       '€875K', '€800K', '€325K', '€525K', '€850K', '€625K', '€975K',
       '€240K', '€650K', '€825K', '€725K', '€475K', '€500K', '€750K',
       '€425K', '€700K', '€350K', '€180K', '€550K', '€925K', '€300K',
       '€200K', '€210K', '€110K', '€275K', '€140K', '€230K', '€450K',
       '€375K', '€190K', '€90K', '€600K', '€130K', '€120K', '€150K',
       '€160K', '€220K', '€80K', '€170K', '€70K', '€250K', '€50K',
       '€100K', '€45K', '€35K', '€60K', '€30K', '€25K', '€40K', '€20K',
       '€15K', '€10K', '€8K', '€5K'], dtype=object)

In [85]:
# Convert Value column to intergers: 
def convert_value(value):
    if value[-1] == 'M':
        return int(float(value[1:-1])* 1000000)
    elif value[-1] == 'K':
        return int(float(value[1:-1])* 1000)
    else:
        return int(value[1:])

fifa21_df['Value'] = fifa21_df['Value'].apply(convert_value)
fifa21_df['Value']

0        67500000
1        46000000
2        75000000
3        87000000
4        90000000
           ...
18974       35000
18975       60000
18976       40000
18977       60000
18978       60000
Name: Value, Length: 18979, dtype: int64

In [86]:
fifa21_df['Wage'].unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€160K',
       '€250K', '€210K', '€260K', '€310K', '€350K', '€300K', '€190K',
       '€145K', '€195K', '€140K', '€100K', '€82K', '€110K', '€230K',
       '€155K', '€200K', '€165K', '€290K', '€170K', '€105K', '€115K',
       '€94K', '€135K', '€150K', '€130K', '€93K', '€55K', '€58K', '€80K',
       '€34K', '€120K', '€99K', '€92K', '€59K', '€65K', '€56K', '€98K',
       '€47K', '€96K', '€18K', '€70K', '€75K', '€84K', '€27K', '€20K',
       '€86K', '€77K', '€74K', '€91K', '€25K', '€46K', '€67K', '€85K',
       '€175K', '€90K', '€79K', '€83K', '€54K', '€43K', '€49K', '€45K',
       '€41K', '€500', '€39K', '€38K', '€23K', '€87K', '€57K', '€51K',
       '€50K', '€95K', '€73K', '€78K', '€69K', '€30K', '€31K', '€53K',
       '€63K', '€35K', '€71K', '€21K', '€14K', '€17K', '€33K', '€28K',
       '€32K', '€89K', '€68K', '€36K', '€64K', '€26K', '€72K', '€48K',
       '€76K', '€40K', '€29K', '€16K', '€37K', '€24K', '€97K', '€0',
       '€62K', '€19K', '€60K', '€42K', '€66K', '€13K', '€12K', '€81K',
       '€61K', '€22K', '€11K', '€52K', '€44K', '€15K', '€7K', '€10K',
       '€8K', '€6K', '€9K', '€5K', '€3K', '€4K', '€2K', '€1K', '€950',
       '€550', '€900', '€650', '€700', '€600', '€800', '€750', '€850'],
      dtype=object)

In [88]:
# Convert Wage column to intergers: 
def convert_wage(wage):
    if wage[-1] == 'K':
        return int(float(wage[1:-1])*1000)
    else:
        return int(float(wage[1:]))
fifa21_df['Wage'] = fifa21_df['Wage'].apply(convert_wage)
fifa21_df['Wage']

0        560000
1        220000
2        125000
3        370000
4        270000
          ...
18974      1000
18975       500
18976      1000
18977       500
18978       500
Name: Wage, Length: 18979, dtype: int64

In [89]:
# Convert Release Clause
def convert_release (release):
    if release[-1]== 'M':
        return int(float(release[1:-1])*1000000)
    elif release[-1] == 'K':
        return int(float(release[1:-1])*1000)
    else:
        return int(float(release[1:]))
fifa21_df['Release Clause'] = fifa21_df['Release Clause'].apply(convert_release)
fifa21_df['Release Clause']

0        138400000
1         75900000
2        159400000
3        161000000
4        166500000
           ...
18974        57000
18975       165000
18976        70000
18977       165000
18978       167000
Name: Release Clause, Length: 18979, dtype: int64

In [97]:
#remove the newline characters from the Hits column
fifa21_df['Hits']=fifa21_df['Hits'].str.replace('(\n|$)','')
fifa21_df['Hits']

C:\Users\Admin\AppData\Local\Temp\ipykernel_1096\607371975.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  fifa21_df['Hits']=fifa21_df['Hits'].str.replace('(\n|$)','')

0
1
2
3
4
        ...
18974    NaN
18975    NaN
18976    NaN
18977    NaN
18978    NaN
Name: Hits, Length: 18979, dtype: object